<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{{ page_title }}</title>
    <script type="text/javascript">
        function checkPass() {
            var pass = $("#password").val();
            var checkPass = $("#check_password").val();            
            if ($("#check_password").val() == $("#password").val()) {
                $("#c_pass").html("");
                $("#upd_pass").attr("disabled", false);
            } else {
                $("#c_pass").html("Passwords do not match!");
                $("#upd_pass").attr("disabled", true);
            }
        }   

        $(document).ready(function () {
            //$('#navigation').load('navi.html');
            $("#upd_pass").attr("disabled", true)   
            $("#check_password").keyup(checkPass);
        });
    </script>
</head>
<body>
    <div class="navigation">
        {% block navbar %}
        {% include nav with user_link=user_id %}
        {% endblock navbar%}
    </div>
    <div class="row justify-content-center mx-1">
        <div class="col-md-10">
            <h4>Edit {{ form_title }}</h4><br>
            <p class="text-success" id="">{{ update }}</p>
        </div>
    </div>
    <div class="row justify-content-around mx-1">        
        <div class="col-md-3 justify-content-center">
            <h6>Edit Information</h6>
            <form action="/update_user" method="post" id="user_update">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    <input type="email" name="email" id="email" class="form-control mb-1" value="{{ user.email }}">
                    {{ form.first_name.errors }}
                    {{ form.first_name.label_tag }}
                    <input type="first_name" name="first_name" id="first_name" class="form-control mb-1" value="{{ user.first_name }}">
                    {{ form.last_name.errors }}
                    {{ form.last_name.label_tag }}
                    <input type="last_name" name="last_name" id="last_name" class="form-control mb-1" value="{{ user.last_name }}">                    
                    {% if current_user.user_level is True %}
                        <label for="user_level">User Level: </label>
                        <select name="user_level" id="user_level" class="btn btn-outline-secondary dropdown-toggle form-control ">
                            {% for key, value in level_select.items %}
                                {% if user.user_level == key %}                    
                                    <option value="{{ key }}" selected>{{ value }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select><br>
                    {% else %}
                        <input type="user_level" name="user_level" id="user_level" class="form-control w-75" value="{{ user.user_level }}" hidden>
                    {% endif %}
                    <input type="user_id" name="user_id" id="user_id" class="form-control mb-1" value="{{ user.id }}" hidden>
                    <div class="row justify-content-end px-3">
                        <input type="submit" value="Save" class="px-2 my-2 btn btn-success" id="submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 justify-content-center">
            <h6>Change Password</h6>
            <form action="/update_password" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ password_form.password.errors }}
                    {{ password_form.password.label_tag }}
                    <input type="password" name="password" id="password" class="form-control mb-1" >
                    {{ password_form.check_password.label_tag }}
                    <span class="errmsg" id="c_pass"></span><br>
                    <input type="password" name="check_password" id="check_password" class="form-control mb-1">
                    <input type="user_id" name="user_id" id="user_id" class="form-control mb-1" value="{{ user.id }}" hidden>
                    <div class="row justify-content-end px-3">
                        <input type="submit" value="Update Password" class="px-2 my-2 btn btn-success" id="upd_pass">
                    </div>
                </div>
            </form>            
        </div>
        <div class="col-md-8 justify-content-left">
            {% if not current_user.id == user.id %}
                <input type="textarea" name="description" id="description" class="form-control mb-1" value="{{ user.description }}" form="user_update" hidden>
            {% else %}
                {{ form.description.errors }}
                {{ form.description.label_tag }}
                <textarea name="description" id="description" class="form-control mb-1" rows="4" form="user_update">{{ user.description }}</textarea>
            {% endif %}
        </div>
    </div>
    
</body>
</html>