
*.mp4
Django/Creating a Django Project.pdf
my_environments/*
*.pdf
Django/django_intro/Meyer_Jesse_timeDisplay.zip
*.bat
*.zip
Django/deploy_gunicorn_error.JPG
Django/django_fullstack/amadon/
Django/tmdbDjango2/
Django/tmdbDjango3/
Django/portfolio/
Django/tmdbDjango.Desktop/
*.sqlite3
*.sqlite3
*.env
