*{
    margin: 0px;
    padding: 0px;
}

.wrapper {
    margin: 0px auto;
    width: 970px; 
    padding: 10px;   
}

.main {
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    text-align: center;
    border: 1px solid;    
}