<div class="row mx-1">
    <div class="col-md-12 justify-content-between">
        <nav class="navbar navbar-light bg-light "> 
            <div class="col-md-3 navbar-brand">Dashboard App</div>
            <div class="col-md-3.5 align-content-end">                        
                <a class="nav-item btn btn-light" href="/dashboard">Dashboard</a>
                <a class="nav-item btn btn-light" href="/users/show/{{ user.id }}">Profile</a>
                <a class="nav-item btn btn-light ml-3" href="/logout">Log off</a>
            </div>
        </nav>
    </div>
</div>