<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-5">
                <form action="get" method="post">
                    {% csrf_token %}
                    <label for="poke">Enter Number: </label>
                    <input type="text" name="poke" id="poke" class="box2"> 
                    <input type="submit" value="Submit">  
                </form>   
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ pokeid }}</h2>
                <img src="{{ pokeimg }}" alt="">
            </div>
        </div>
    </div>
</body>
</html>